body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: -webkit-linear-gradient(to top, #9bafd9, #103783);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #9bafd9, #103783); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
    padding: 1rem;
}

nav {
    
    
    flex-direction: column;
    height: 30px;
}

form {
    background-color:#9bafd9;
    display: flex;
    flex-direction: column;
}