body {
    margin: 0;
}

#generator-outer-container {
    border: 1px solid black;
    margin: 3rem;
    height: 550px;
    width: 550px;
}

#header {
    margin: 10rem 2rem 0rem 2rem;
    border: 1px solid blue;
    border-bottom: 1px solid red;
    padding-bottom: 2rem;
}
#line {
     border: none;
    /* Set height to make it visible */
    height: 2px;
    width: 550px;
    /* Set background color for the line */
    background-color: #2F3E53; 
    /* Optional: Add space around the line */
    margin: 1rem 0; 
}

#passwords-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid purple;
    height: 100px;
    margin: 0rem 2rem;
}

#left-password {
    border: 1px solid orangered;
    height: 30px;
    width: 200px;
    
}
#right-password {
    border: 1px solid green;
    height: 30px;
    width: 200px;
    
}