/* element-level selectors */
html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Slab", serif;
}

textarea {
    width: 80%;
    resize: none;
    background-color:#3B4877;
    border-radius: 18px;
    height: 3rem;
    color: white;
    padding: 1rem;
    margin-top: .75rem;
    font-size: .875rem;
}


/* class-level selectors */
.label {
    margin-top: 2rem;
}


/* id-level selectors */
#outermost-container {
    border: 1px solid red;
    width: 35rem;  
    /* max-width: 322px;   */
    height: 45rem;
    /* max-height: 481px; */
    background-color: #000C36;
    border-radius: 24px;
    margin-bottom: 2rem;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    /* border-bottom: 1px solid gray; */
}

#header-logo {
    width: 5rem;
    height: 5rem;
}

#header-text {
    font-family: "Carter One", system-ui;
    font-size: 1.8rem;
    font-weight: 100;
    color: #FFFFFF;
    margin: .25rem 0rem 1rem 0rem;
}

#content-container {
    margin-top: 1rem;
}

#lets-go-button {
    width: 85%;
    margin-top: 2.25rem;
    height: 3.5rem;
    background-color:#51E08A;
    font-family: "Roboto Slab", serif;
    font-size: 1.875rem;
    font-weight: 700;
    border-radius: 18px;   
    color: #000C36;
}

#movie-suggestion {
    /* margin: 5rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-left: 10%;
}