html, body {
    margin: 0;
    padding: 0;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

button:hover {
  cursor: pointer;
}

#outermost-container {
    /* border: 1px solid red; */
    height: 100%;
    /* max-width: 90rem; */
   
}

#header-outer-container {
  position: relative;
  width: 100%;
  height: 13rem; /* adjust this to control visible slice */
  background-image: url('header.png');
  background-size: 100% 200%;     /* slightly zoomed out */
  /* background-position:40%; */
  background-repeat: no-repeat;
  /* overflow: hidden; */
}

#header-outer-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7); /* darkness level — adjust as needed */
  z-index: 1;
}

/* Ensures content sits above the overlay */
#header-outer-container > * {
  position: relative;
  z-index: 2;
}
#header-upper-container {
    /* padding: 2rem 2rem 0rem 2rem; */
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    padding-left: 5rem;

}

#header-title-container {
    
    display: flex;
    align-self: center;
    
}
#header-title {
    color: white;
    font-size: 3rem;
}
#watchlist-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin-right: 3rem;
}


#search-container {
    /* border: 1px solid purple; */
    display: flex;

    width: 100%;
    justify-content: center;;
    position: absolute;
    top: 12rem
}
#search-text {
    width: 90%;
    height: 2rem;
}

#test-output {
    margin-top: 1rem;
}
#output-outer-container {
    padding-top: 1rem;
}
.output {
    margin-left: 4rem;
}

.output-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #E5E7EB;
    margin: 0 2rem;
    
}

.movie-poster {
    width: 6rem;
    height: 8rem;
    margin: 1rem;

}