/*
Challenge:
1. Center the text and button
2. Style the button according to the design.
   Use a class to select the button.
*/

body {
    color: white;
    background-image: url("images/universe.jpg");
    background-size: cover;
    
}
.text-align-center {
    text-align: center;
}
.button-styles {
    padding: 5px 10px;
    font-weight: normal;
    font-size: larger;
    display: block;
    margin-left:auto;
    margin-right: auto;
    background-color: white;
    border: none;
}

.display-block {
    display: block;
}
.margins-auto {
    margin-left: auto;
    margin-right: auto;
}
