body {
    background-color: #1F293A;
    color: white;
    display: block;
}


.color-container {
    border: 1px dashed lightseagreen;
    height: 18rem;
    width: 20%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0;
    border: none;
}

.color-value-container {
    border: 1px solid aqua;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#outermost-container {
    margin: 1rem auto;
    width: 60%;
    /* height: 60%; */
    max-width: 550px;
    max-height: 550px;
    border: 1px solid silver;
}
#toolbar {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    border: 1px dashed lightcoral;
    height: 4rem;
}

#colors-outer-container {
    /* border: 1px solid lightgreen; */
    /* height: 22rem; */
    display: flex;
}

#color-values-outer-container {
    border: 1px dashed brown;
    height: 4rem;
    display: flex;
}
