html, body {
    margin: 0 auto;
    padding: 0;
    display: block;
    
}

.outer-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border: 1px solid red;

    height: 500px;
    width: 375px;
}


.header-container {
    border: 1px dashed green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    padding: 0 .7rem;
}

.profile-container {
    border: 1px solid purple;
    display: flex;
    
    align-items: center;
    
}

#profile-img {
    height: 34px;
    border-radius: 100%;
    margin: .5rem .5rem;
}

#logo-img {
    width: 127px;
}
#user-img {
    height: 34px;
    border-radius: 100%;
}

#user-info-container {
    border: 1px solid orange;
    display: block;
    line-height: .3rem;

}