html, body {
    margin: 0;
    padding: 0;
     font-family: "Smythe";
} 

#outer-container {
    border: 1px solid red;
     margin: 1rem; 
     display: flex;
     flex-direction: column;
    width: 600px;
    height: 1100px;
}

#header-container {
    /* border: 1px dashed blue; */
   
    /* font-weight: 400; */
    font-style: normal;
    background-size:100%;
    color:#FFFFFF;
    width: 100%;
    height: 167px;
    margin: 0;
    
}

#header-h1 {
    margin: 3rem 1rem 1rem 3rem;
}
#header-h2 {
    margin: 1rem 0rem 0rem 3rem;
}


#items-container {
    border: 1px dashed green; */
    margin-top: 2rem;
   
}


#cart-h1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cart-container {
   
    /* border: 1px solid fuchsia; */
}

#cart-h1 {
    margin: .75rem auto;
    
    /* border: 1px solid blue; */
}

#checkout-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#complete-order-button {
    margin: 2rem auto;
    width: 508px;
    height: 60px;
    border-radius: 3px;
    background-color: #16DB99;
    border: none
}

.item-outer-container {
    display: flex;
    /* justify-content: space-between; */
    /* padding: 3rem; */
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
    margin:0rem 3rem;
   
}
.item-inner-container {
    /* width: 12rem; */
}

.item-emoji {
    margin: 1rem;
    font-size: 78px;
}
.item-name-h1 {
    font-size: 28px;
    font-weight: 400;
    color: #000000;
}
.item-ingredients-h2 {
    font-size: 16px;
    color: #8B8B8B;
    font-weight: 400;
   
}
.item-price-h2 {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}
.item-add-button {
    border-radius: 50%;
    border: 1px solid #D2D2D2;
    background-color: #FFFFFF;
    margin-left: auto;
    width: 3.5rem;
    height: 3.5rem;
}
.line-break-div{
        /* border: 1px solid blue; */
     width: 1rem;
    height: 1.15rem;
}
.cart-item-details {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid fuchsia; */
    margin: 0rem 1rem;

}
.cart-total-details {
    display: flex;
    
    justify-content: space-between;
    /* border: 1px solid fuchsia; */
    margin: 0rem 1rem;
}
.cart-remove-button {
    margin-left: 2rem;
    background-color: #FFFFFF;
    border: none;
    font-size: 12px;
    color: #BBBBBB;
    padding: 0;
   
}

.font-size-28 {
    font-size: 28px;
}

.font-size-20 {
    font-size: 20px;
}
.modal-hidden {
    display: none;
}

