body {
    margin: 0;
    padding-top: 30%;
    width:400px;
    
}

.scores-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid blue;
}


.score-outer-div {
    width: 11rem;
    
    border: 1px solid red;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.score-outer-div > h3 {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.score-inner-div {
    background-color: black;
    width: 4rem;
    height: 3rem;
    margin: 0rem 0rem 0rem 0rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-points-outer-div {
    display: flex;
    
}

.add-points-inner-div {
    background-color: blue;
    width: 2.3rem;
    height: 2.3rem;
    margin: 1.3rem .25rem 1rem .25rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   
}